@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

/* Colors */
:root{
    --Primary-color: #1E88E5;
    --Secondary-color: #90CAF9;
    --Background-color: #FFFFFF;

    --Accent-color: #43A047;
    --Warning-color: #E53935;
    --Text-dark: #212121;
    --Text-grey: #4B5563;
}

/* Pengaturan Global */
*{
    
}


body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}


/* Animasi Rotasi background */

/* @layer utilities {
    @-webkit-keyframes rotate-background {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
    @keyframes rotate-background {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .animate-rotate-background {
        -webkit-animation: rotate-background 5s ease-in-out infinite;
                animation: rotate-background 5s ease-in-out infinite;
    }
} */